*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;

}
body{
        overflow-x: hidden;
}
#nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
     /* border-bottom: 1px solid lightseagreen; */

}
.part2{
    display: flex;
    gap: 50px;
}

.heroTab{
    display: flex;
    /* border: 2px solid white; */
    margin-top: 2rem;
    justify-content: center;
    align-items: center;


}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: ; */
 
}

.intro{
    padding: 20px 30px;
}

.pic{
    /* border:1px solid red; */
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;
 
}

.Skills{
/* margin-top: 20rem; */
height: 120%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.Skills :nth-child(odd){
    font-size: 20px;
    background-color: purple;
    /* margin-top: 2rem; */
    display: inline-block;
    padding: 20px;

}

.Skills :nth-child(even){
    background-color: firebrick;
    font-size: 20px;
    /* margin-top: 2rem; */
    display: inline-block;
    padding: 20px;
}


#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(59, 55, 55);
}


#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(69, 134, 134);
    padding:20px 30px;
}

#page2 h1{
    /* transform: translateX(-100%); */
    font-size: 35vw;

}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(147, 114, 212);
}
